button {
  border: none;
  background: #8BDA00;
  padding: 1rem 2rem;
  color: #fff;
}
body{
  background-image: url("https://artsale.ua/image/data/Interiernie/IN17_040.jpg");

}
.create {
  display: grid;
}
input {
  height: 30px;
}
.label {
  font-size: 14px;
}
form {
  padding: 1rem;
  display: grid;
  grid-gap: 10px;
}
.item {
  display: grid;
}
.title {
  font-size: 20px;
}
